<!-- Table Component -->
<div class="overflow-x-auto responsive-table">
    <table class="min-w-full">
        <thead>
            <tr class="bg-gray-100">
                <th class="py-2 px-4 text-left">Username</th>
                <th class="py-2 px-4 text-left">IP Address</th>
                <th class="py-2 px-4 text-left">Status</th>
                <th class="py-2 px-4 text-left">Uptime</th>
                <th class="py-2 px-4 text-left">Action</th>
            </tr>
        </thead>
        <tbody id="pppoe-table">
            <!-- Data rows will be injected by JavaScript -->
        </tbody>
    </table>
</div>